<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="ceneax.app.lib.locationx">

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required only when requesting background location access on
       Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>

        <!-- Recommended for Android 9 (API level 28) and lower. -->
        <!-- Required for Android 10 (API level 29) and higher. -->
        <service
                android:name=".LocationService"
                android:foregroundServiceType="location" >
        </service>

        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data
                    android:name="ceneax.app.lib.locationx.LocationInitializer"
                    android:value="androidx.startup" />
        </provider>

    </application>

</manifest>